.error {
    overflow-y: hidden;
    width: 100vw;
    position: relative;
}

/*          Desktop            */

.error-content {
    padding-top: 6vh;
    margin: auto;
    width: 50%;
}
  
.error-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

/*             Mobile                 */

.error-content-mobile {
    padding-top: 6vh;
    margin: auto;
    width: 80%;
}

.error-content-mobile img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

/*                Shared Values                  */
  
.error-content h1, .error-content-mobile h1 {
    text-align: center;
}
  
.error-content p, .error-content-mobile p {
    text-align: center;
}